<div>
    <h1>Lista de productos:</h1>

    <ol>
        {{#each productsToRender}}
        <li>
            <h2>Producto: {{this.name}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: $ {{this.price}}</p>
        </li>
        {{/each}}
    </ol>
</div>
